body {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-size: 1.65em;
    font-weight: 700;
}

p {
    font-size: 1.2em;
}

.main {
    display: grid;
    grid-template-rows: 20% auto 20%;
    justify-items: center;
}

.header {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.header-hl {
	-webkit-animation: text-flicker-out-glow 10s infinite both;
	animation: text-flicker-out-glow 10s infinite both;
}

.content {
    width: 100%;
    display: grid;
    height: auto;
    grid-template-columns: 40% 20% auto;
    background-color: #6f42c1;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.content-left {
    display: flex;
    align-items: center;
    position: relative;
}

.content-img {
    border-radius: 100%;
    max-width: 70%;
    height: auto;
    margin: auto;
    -webkit-box-shadow:0px 0px 20px 15px #000000 ;
    -moz-box-shadow:0px 0px 20px 15px #000000 ;
    box-shadow:0px 0px 20px 15px #000000 ;
}

.content-middle {
    margin: auto auto;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.content-select {
    width: 100%;
}

.content-extra {
    text-align: center;
}

.content-extra-section {
    margin: auto;
    width: 80%;
    height: auto;
    min-height: 300px;
    background: white;
    color: #6f42c1;
    border-radius: 10%;
}

.content-extra-section div {
    font-weight: 700;
    font-size: 1.1em;
    margin: auto;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    padding-left: 1em;
    padding-right: 1em;

}

@media (max-width: 575.98px) { 
    .content, .footer {
        display: block;
    }

    .content-left, .content-middle, .content-extra {
       padding-top: 1.5em;
       margin: auto;
    }

    .content-select, .content-left {
        width: 80%;
    }

    .footer {
        text-align: center;
    }

    .footer-item {
        padding-top: 0.5em;
    }

    .footer-item-input {
        width: 79%;
    }

    .footer-item-btn {
        width: 30%
    }
    
 }


/* ==========JS action============ */

.active {
    display: none;
}

.show {
    margin: auto auto;
}

.bounce-top {
	-webkit-animation: bounce-top 2s both;
	        animation: bounce-top 2s both;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    opacity: 0;
    transition: .5s ease;
    border-radius: 100%;
    max-width: 100%;
  }

.text {
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.content-left:hover .overlay {
    opacity: 1;
  }

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:15px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}



/* ==========KEY FRAME============ */

/* ----------------------------------------------
 * Generated by Animista on 2019-10-10 13:10:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes text-flicker-out-glow{0%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}13.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}14%{opacity:0;text-shadow:none}14.9%{opacity:0;text-shadow:none}15%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}22.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}23%{opacity:0;text-shadow:none}24.9%{opacity:0;text-shadow:none}25%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}34.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}35%{opacity:0;text-shadow:none}39.9%{opacity:0;text-shadow:none}40%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}42.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}43%{opacity:0;text-shadow:none}44.9%{opacity:0;text-shadow:none}45%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}54.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:0;text-shadow:none}69.4%{opacity:0;text-shadow:none}69.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}69.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}70%{opacity:0;text-shadow:none}79.4%{opacity:0;text-shadow:none}79.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}80%{opacity:0;text-shadow:none}89.8%{opacity:0;text-shadow:none}89.9%{opacity:1;text-shadow:none}90%{opacity:0;text-shadow:none}100%{opacity:0}}@keyframes text-flicker-out-glow{0%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}13.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}14%{opacity:0;text-shadow:none}14.9%{opacity:0;text-shadow:none}15%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}22.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}23%{opacity:0;text-shadow:none}24.9%{opacity:0;text-shadow:none}25%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}34.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}35%{opacity:0;text-shadow:none}39.9%{opacity:0;text-shadow:none}40%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}42.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}43%{opacity:0;text-shadow:none}44.9%{opacity:0;text-shadow:none}45%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}54.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:0;text-shadow:none}69.4%{opacity:0;text-shadow:none}69.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}69.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}70%{opacity:0;text-shadow:none}79.4%{opacity:0;text-shadow:none}79.9%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}80%{opacity:0;text-shadow:none}89.8%{opacity:0;text-shadow:none}89.9%{opacity:1;text-shadow:none}90%{opacity:0;text-shadow:none}100%{opacity:0}}


/*----------Text bounding--------*/
@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}